<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="true" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <alwaysAllowedUrls>
                    <add url="/Documents/_Sites/rivertown/phpbb" />
                </alwaysAllowedUrls>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
